<div class="bos-card">

    <h3 id="media-title">

        Medienvorschau

    </h3>

    <video
        id="media-video"
        controls
        style="
            width:100%;
            display:none;
            background:black;
            border-radius:8px;
        ">

    </video>

    <img
        id="media-image"
        style="
            width:100%;
            display:none;
            border-radius:8px;
        ">

    <div
        id="media-placeholder"
        style="
            padding:50px;
            text-align:center;
            color:#777;
        ">

        Keine Datei ausgewählt.

    </div>

</div>
