<div class="bos-card">

    <div
        class="card-header"
        onclick="toggleCard('settings')">

        <h3>⚙ Einstellungen</h3>

        <span
            id="settings-arrow"
            class="card-arrow">

            ▼

        </span>

    </div>

    <div
        id="settings-content"
        class="card-content">

		<h4>📥 Input</h4>

		<label>Quelle</label>

		<select
		    id="cfg-input-type"
		    class="bos-input">
		</select>

		<div id="cfg-input-fields">
		</div>

        <hr>

        <h4>🎥 Encoder</h4>

		<label>Codec</label>

		<select
		    id="cfg-encoder-codec"
		    class="bos-input">
		</select>

	   <div id="encoder-options">

	   </div>

        <hr>

        <h4>📡 Streaming</h4>

        <label>Streamname</label>
        <input
            id="cfg-stream-name"
            class="bos-input"
            type="text">

        <label>RTSP URL</label>
        <input
            id="cfg-rtsp-url"
            class="bos-input"
            type="text">

		<label>Live-Viewer</label>

		<select
		    id="cfg-viewer-protocol"
		    class="bos-input">

		    <option value="webrtc">
		        WebRTC (geringe Latenz)
		    </option>

		    <option value="hls">
		        HLS (mit Audio)
		    </option>

		</select>

		<label
		    style="
		        display:flex;
		        align-items:center;
		        gap:8px;
		        margin-top:12px;
		    ">

		    <input
		        id="cfg-stream-passthrough"
		        type="checkbox">

		    MediaMTX-Stream direkt verwenden

		</label>

		<p
		    style="
		        margin-top:8px;
		        font-size:0.9em;
		        color:#777;
		    ">

		    WebRTC bietet die geringste Latenz, überträgt in der aktuellen
		    Konfiguration jedoch keine Audiospur.
		    HLS besitzt eine höhere Latenz, unterstützt dafür Bild und Ton.

		</p>

        <hr>

<h4>📺 Streaming Outputs</h4>

<div id="stream-output-settings">

</div>

<button
    class="bos-button bos-button-green"
    onclick="addStreamOutput()">

    ➕ Output hinzufügen

</button>

<hr>

        <button
            class="bos-button bos-button-green"
            onclick="saveConfig()">

            💾 Speichern

        </button>

    </div>

</div>
