<div class="bos-card">

    <div
        class="card-header"
        onclick="toggleCard('system')">

        <h3>🖥 System</h3>

        <span
            id="system-arrow"
            class="card-arrow">

            ▼

        </span>

    </div>

    <div
        id="system-content"
        class="card-content">

        <div class="info-row">

            <span>FFmpeg</span>

            <span id="system-ffmpeg">

                —

            </span>

        </div>

        <div class="info-row">

            <span>MediaMTX</span>

            <span id="system-mediamtx">

                —

            </span>

        </div>

        <div class="info-row">

            <span>Capture</span>

            <span id="system-capture">

                —

            </span>

        </div>

		<hr>
		<h4>Application</h4>
		
		<div class="info-row">
		    <span>Name</span>
		    <span id="system-app-name">—</span>
		</div>

		<div class="info-row">
		    <span>Version</span>
		    <span id="system-app-version">—</span>
		</div>

		<hr>

		<h4>Hardware</h4>

		<div class="info-row">
		    <span>Model</span>
		    <span id="system-hardware-model">—</span>
		</div>

		<div class="info-row">
		    <span>Architecture</span>
		    <span id="system-hardware-arch">—</span>
		</div>
		
		<hr>

		<h4>Operating System</h4>

		<div class="info-row">
		    <span>System</span>
		    <span id="system-os-system">—</span>
		</div>

		<div class="info-row">
		    <span>Distribution</span>
		    <span id="system-os-distribution">—</span>
		</div>

		<div class="info-row">
		    <span>Kernel</span>
		    <span id="system-os-kernel">—</span>
		</div>

		<hr>
		<h4>Runtime</h4>

		<div class="info-row">
		    <span>Python</span>
		    <span id="system-runtime-python">—</span>
		</div>

		<div class="info-row">
		    <span>FFmpeg Version</span>
		    <span id="system-runtime-ffmpeg">—</span>
		</div>

		<hr>

		<h4>Network</h4>

		<div class="info-row">
		    <span>Hostname</span>
		    <span id="system-network-hostname">—</span>
		</div>

		<div class="info-row">
		    <span>Interface</span>
		    <span id="system-network-interface">—</span>
		</div>

		<div class="info-row">
		    <span>IPv4</span>
		    <span id="system-network-ipv4">—</span>
		</div>

		<div class="info-row">
		    <span>MAC</span>
		    <span id="system-network-mac">—</span>
		</div>

        <hr>

        <div class="info-row">

            <span>CPU</span>

            <span id="system-cpu">

                —

            </span>

        </div>

        <div class="info-row">

            <span>RAM</span>

            <span id="system-ram">

                —

            </span>

        </div>

        <div class="info-row">

            <span>Temperatur</span>

            <span id="system-temp">

                —

            </span>

        </div>

    </div>

</div>
