<div class="video-toolbar">

    <button
        id="stream-toggle"
        class="bos-button bos-button-green"
        onclick="toggleStream()">

        ▶ Stream starten

    </button>

    <button
        id="recording-toggle"
        class="bos-button"
        onclick="toggleRecording()">

        ⏺ Aufnahme starten

    </button>

	<div class="video-toolbar-spacer"></div>

	<button
	    id="snapshot-button"
	    class="bos-button"
	    onclick="createSnapshot()"
	    title="Snapshot erstellen">

	    📸 Snapshot

	</button>

	<button
	    id="fullscreen-button"
	    class="bos-button"
	    onclick="toggleFullscreen()"
	    title="Vollbild">

	    ⛶ Vollbild

	</button>

</div>
