[Unit]
Description=MediaMTX
After=network.target

[Service]
Type=simple

User=streampi
WorkingDirectory=/home/streampi

ExecStart=/home/streampi/mediamtx

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
