[Unit]
Description=MediaMTX
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=streampi
WorkingDirectory=/var/lib/open-bos-stream

ExecStart=/usr/local/bin/mediamtx /etc/open-bos-stream/mediamtx.yml

Restart=on-failure
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
